{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='dist/css/make.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

  {% if current_user.is_authenticated %}

      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
      {% endfor %}

    <form method="POST" action="/make" autocomplete="off">
      {{ form.csrf_token }}
      <formfield class="title">
        {{ form.title(placeholder='Dossier title', class_="make-title") }}
      </formfield>

      <br>

      <formfield class="protocol">
        {{ form.protocol(placeholder='Dossier protocol', class_="make") }}
      </formfield>

      <br>

      <formfield class="poi">
        {{ form.poi(placeholder='Persons of interest', class_="make") }}
      </formfield>

      <br>

      <formfield class="attachment">
        {{ form.attachment(placeholder='Dossier attachments', class_="make") }}
      </formfield>

      <br>

      <div class="submit-button">
        {{ form.submit(class_="button") }}
      </div>

    </form>

      <div class="cancel-button">
        <button class="button" type="button" onClick="window.location.href='{{ url_for('main_bp.dashboard') }}'">Cancel</button>
      </div>

  {% endif %}

{% endblock %}